<h1><%= maker.maker %>のバイク一覧</h1>

<a href="/motorcycle/new"><button>新しくバイクを追加する</button></a>
<p></p>
<table cellspacing="0">
	<thread>
		<th scope="col">id</th>
		<th scope="col">車名</th>
		<th scope="col">メーカー名</th>
		<th scope="col">販売価格</th>
		<th scope="col">排気量</th>
		<th></th>
		<th></th>
	</thread>
	<tbody>
		<% motorcycles.forEach(motorcycles => { %>
		<tr>
			<td><%= motorcycles.cycle_id %></td>
			<td>
				<a href="<%= motorcycles.cycle_url%>"><%= motorcycles.cycle_name%></a>
			</td>
			<td><%= motorcycles.cycle_maker_name%></td>
			<td><%= motorcycles.cycle_sell_price%></td>
			<td><%= motorcycles.cycle_displacement%></td>
			<td><a href="/motorcycle/edit/<%= motorcycles.cycle_id %>">編集</a></td>
			<td>
				<a href="/motorcycle/view/<%= motorcycles.cycle_id %>"> ギャラリー</a>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>
<style>
	td,
	th {
		border: 1px solid;
		padding: 0.5em 1em;
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin: 0.5em 0 1em 0;
	}
</style>
